.vs/
*.vcxproj.filters
*.vcxproj.user

Common/build/Debug-Win32/intermediate
Common/build/Debug-x64/intermediate
Common/build/Release-Win32/intermediate
Common/build/Release-x64/intermediate

Headless/build/Debug-Win32/intermediate
Headless/build/Debug-x64/intermediate
Headless/build/Release-Win32/intermediate
Headless/build/Release-x64/intermediate
